body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 3em;
}

h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

h1 {
  margin-top: 0;
}

h1.frontpage {
    color: #3C4D5B;
}

h1 small {
  display: block;
}

@media (min-width: 768px) {
  h1 small {
    display: inline;
  }
}

@media (min-width: 992px) {
  h1.frontpage small {
    display: inline-block;
    font-size: 40%;
    width: 8em;
  }

  h1.frontpage {
    font-size: 50px;
  }
}

.avatar {
  border: 1px solid white;
  border-radius: 20px;
}

.icon {
  width: 64px;
  height: 64px;
}

.postlist li {
  margin-bottom: 0.25em;
}

.postlist span {
  color: rgb(119, 119, 119);
}

