body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 3em;
}

h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-size: 55px;
  color: #3C4D5B;
}

h1 small {
  display: block;
  font-size: 35%;
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h1 small {
    display: inline;
    font-size: 65%;
  }
}

@media (min-width: 992px) {
  h1.welcome {
    font-size: 50px;
  }
  h1.welcome small {
    display: inline-block;
    font-size: 40%;
    width: 8em;
  }
}

.avatar {
  border: 1px solid white;
  border-radius: 20px;
}

.avatar-small {
  width: 150px;
  height: auto;
  margin-right: 1em;
}

.project-list {
  list-style-position: inside;
  padding-left: 0;
}

.contact-links li {
  padding-left: 0;
  font-size: 32px;
}

.contact-links a {
  color: #3C4D5B;
}

.fa-stack:hover {
  border-radius: 50%;
  box-shadow: 4px 4px 0 -2px #3C4D5B;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow: 0.2s;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.post-list li {
  margin-bottom: 0.25em;
}

.post-list span {
  color: rgb(119, 119, 119);
}

