<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/3.3.0/build/cssreset/reset.css" type="text/css"> 
    <link rel="stylesheet" href="http://yui.yahooapis.com/3.3.0/build/cssfonts/fonts.css" type="text/css"> 
    <link rel="stylesheet" href="/css/default.css" type="text/css" />
  </head>
  <body>
    <div class="header">
      <p>The underwhelming web presence of</p>
      <h1><a href="/">Nathan Parry</a></h1>
    </div>
    <div class="main">
      {{ content }}
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-7201961-2");
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>

