---
layout: page
---

<ul role="navigation" class="list-inline">
{% if page.previous %}
  <li><a rel="prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}">
    <i class="fa fa-angle-left" aria-hidden="true"></i>
    Previous post
  </a></li>
{% endif %}
{% if page.next %}
  <li><a rel="next" href="{{ page.next.url }}" title="{{ page.next.title }}">
    Next post
    <i class="fa fa-angle-right" aria-hidden="true"></i>
  </a></li>
{% endif %}
</ul>
<h2>{{ page.title }}</h2>
{{ content }}

